.card{
    width: 250px;
    height: 400px;
    border: 1px solid gray ;
    border-radius: 5px;
}

.photo{
    width: 250px;
}

.info{
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 100%;
    color: aliceblue;
    background-color: rgb(64, 64, 153);
    
}
.home-container{
    display: flex;
}
.card-container{
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    


    
}